body {
    font-family: Arial, sans-serif;
}

.catalog {
    padding: 20px;
}

.catalog .products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left:0px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
    list-style-type: none;
}

.product .designation {
    font-weight: bold;
    margin-bottom: 5px;
}

.product .price {
    color: #888;
    margin-bottom: 10px;
}

.catalog .button {
    display: inline-block;
    border: none;
    padding: 5px 12px;
    margin: 4px 2px;
    background-color: #333;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.cart {
    background: #fff;
    padding: 20px;
}

.cart {

    & .cart-lines {
        display: grid;
        grid-template-columns: 60px 1fr 100px 100px;
        grid-template-rows: auto;
        column-gap: 20px;
        row-gap: 10px;
    }

    & .cart-summary {
        grid-column: span 4;
    }

    & .quantity {
        font-weight: bold;
        text-align: end;
    }

    & .price {
        font-style: italic;
        text-align: end;
    }

    & .total-amount {
        font-weight: bold;
        text-align: end;
    }

    & hr {
        margin: 15px 0;
        border: none;
        border-top: 1px solid #ddd;
        grid-column: span 4;
    }
}